$pryColor:  #FFBBBB;
$secColor: red;
$terColor: blue;


// variables

@mixin backgroundcolor {
    background: #FFBBBB;
    
}

// font
@mixin h1fonts{
    font-family: 'Iceberg', cursive;
    font-style: none;
    font-weight: 400;
    font-size: 67px;
    
}
@mixin h2fonts{
    font-family: 'Iceberg', cursive;
    font-style: none;
    font-weight: 400;
    font-size: 50.5px;

}
@mixin h3fonts{
    font-family: 'Iceberg', cursive;
    font-style: none;
    font-weight: 400;
    font-size: 37.9px;

}
@mixin h4fonts{
    font-family: 'Iceberg', cursive;
    font-style: none;
    font-weight: 400;
    font-size: 28.4px;

}
@mixin h5fonts{
    font-family: 'Iceberg', cursive;
    font-style: none;
    font-weight: 400;
    font-size: 21.3px;

}
@mixin h6fonts{
    font-family: 'Iceberg', cursive;
    font-style: none;
    font-weight: 400;
    font-size: 16px;

}