@use 'global' as *;

// background style


.background {
    background-color: $pryColor;
    color: white !important;
}

// navbar styling

.navmenu {
    padding-bottom: 8em
}

.menu_option{
    @include h4fonts;
    
}

// hero styling 

.my_name {
    @include h1fonts;
    
}
.my_work{
    padding-bottom: 20px;
    @include h3fonts;
}


.hero {
    padding-left: 6em;
}

// about me
.aboutme {
    text-align: center;
    @include h5fonts;
    // width: 50em;
   
}

// tech stack

// .logos {
//     text-align: center;
//     justify-items: stretch;
// }

// privious work


.privwork {
    text-align: center;
    padding-bottom: 20px;
}
.space {
    @include h5fonts;
    padding-top: 5em;
    margin-left: 3em;
}
.estate {
    @include h5fonts;
    padding-top: 6em;
    margin-left: 3em;
}

// footer

.foot {
    background-color: $terColor;
    height: 13em;
}
.reach {
    @include h6fonts;
    text-align: center
}
.email {
    @include h6fonts;
    text-align: center;
}